body {
    direction: rtl;
    overflow: auto;
    font-family: IRANSans;
}

#sidebar {
    float: right;
    width: 17%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#sidebar .title{
    font-family: Yekan;
    text-align: center;
    font-weight: 100;
    padding: 2px;
    border: solid .5px #e7e6e6;
}

#sidebar .page-info {
    background: #faf7f7;
    border: solid .5px #e7e6e6 ;
    border-top: none;
}

#sidebar .title h1{
    font-size: 16px;
    font-weight: 100;
}

#sidebar div img {
    margin-top: 10px ;
}

#sidebar div h2 {
    font-family: Entezar;
    font-size: 43px;
    margin: 0;
    text-align: right;
}

#sidebar div span {
    font-family: Dinar-medium;
    font-size: 14px;
    width: 100%;
    text-align: right;
    color: rgba(34,137,230,255);
    padding: 15px 25% 20px 0;
}

#sidebar nav {
    width: 100%;
}

#sidebar nav ul{
    padding: 0;
    margin: 0;
}

#sidebar nav ul li {
    text-align: right;
    border: solid 0.5px #e7e6e6;
    padding: 10px 15px;
    font-size: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: none;
}

#sidebar nav ul li img {
    transform: rotate(270deg);
}

#sidebar nav ul li a {
    text-decoration: none;
    color: #000 ;
}

#sidebar nav ul li:nth-child(1) {
    border-top: solid 0.5px #e7e6e6;
}

#sidebar nav div span {
    padding: 0 15px;
}

#sidebar nav div {
    padding: 40px 0 15px 0;
    border-left: solid 0.5px #e7e6e6;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

#menu {
    /* background: sandybrown; */
    border: solid .5px #e7e6e6;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-right: none;
}

#menu div .logo {
    position: relative;
}

#menu div .logo .img-logo {
    position: absolute;
    right: -34px;
    top: -14px;
}

#menu div .logo .fDots {
    position: absolute;
    right: 50px;
    top: -5px;
}

#menu div .logo .pDots {
    position: absolute;
    right: 36px;
    top: 34px;
}

#menu .account-status {
    padding: 22px;
}

#menu .account-status a{
    text-decoration: none;
    padding: 0 15px;
    font-size: 11px;
    color: rgba(52,58,50,255);
}

#menu .account-status a:nth-child(1){
    border-left: solid .5px gray;
}

#menu div div h1,h2 {
    font-size: 14px;
    margin: 0;
    margin-right: 120px;
    font-family: 'Dinar-medium';
    font-weight: 100;
    margin-bottom: 5px;
}

#menu div div h2 {
    font-size: 10px;
    font-weight: 400;
    font-family: IRANSans;
}


#wrapper {
    background: #efeeef;
    padding: 30px;
    overflow: hidden;
}