body {
    direction: rtl;
    overflow: auto;
    font-family: IRANSans;
}

#sidebar {
    float: right;
    width: 17%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#sidebar .title{
    font-family: Yekan;
    text-align: center;
    font-weight: 100;
    padding: 2px;
    border: solid .5px #e7e6e6;
}

#sidebar .page-info {
    background: #faf7f7;
    border: solid .5px #e7e6e6 ;
    border-top: none;
}

#sidebar .title h1{
    font-size: 16px;
    font-weight: 100;
}

#sidebar div img {
    margin-top: 10px ;
}

#sidebar div h2 {
    font-family: Entezar;
    font-size: 43px;
    margin: 0;
    text-align: right;
}

#sidebar div span {
    font-family: Dinar-medium;
    font-size: 14px;
    width: 100%;
    text-align: right;
    color: rgba(34,137,230,255);
    padding: 15px 25% 20px 0;
}

#sidebar nav {
    width: 100%;
}

#sidebar nav ul{
    padding: 0;
    margin: 0;
}

#sidebar nav ul li {
    text-align: right;
    border: solid 0.5px #e7e6e6;
    padding: 10px 15px;
    font-size: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: none;
}

#sidebar nav ul li img {
    transform: rotate(270deg);
    transition: .4s;
    cursor: pointer;
}

#sidebar nav ul li a {
    text-decoration: none;
    color: #000 ;
}

#sidebar nav ul li:nth-child(1) {
    border-top: solid 0.5px #e7e6e6;
}

#sidebar nav div span {
    padding: 0 15px;
}

#sidebar nav div {
    padding: 40px 0 15px 0;
    border-left: solid 0.5px #e7e6e6;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

#menu {
    /* background: sandybrown; */
    border: solid .5px #e7e6e6;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-right: none;
}

#menu div .logo {
    position: relative;
}

#menu div .logo .img-logo {
    position: absolute;
    right: -34px;
    top: -14px;
}

#menu div .logo .fDots {
    position: absolute;
    right: 50px;
    top: -5px;
}

#menu div .logo .pDots {
    position: absolute;
    right: 36px;
    top: 34px;
}

#menu .account-status {
    padding: 22px;
}

#menu .account-status a{
    text-decoration: none;
    padding: 0 15px;
    font-size: 11px;
    color: rgba(52,58,50,255);
}

#menu .account-status a:nth-child(1){
    border-left: solid .5px gray;
}

#menu div div h1,h2 {
    font-size: 14px;
    margin: 0;
    margin-right: 120px;
    font-family: 'Dinar-medium';
    font-weight: 100;
    margin-bottom: 5px;
}

#menu div div h2 {
    font-size: 10px;
    font-weight: 400;
    font-family: IRANSans;
}


#wrapper {
    background: #efeeef;
    padding: 30px;
    overflow: hidden;
}

#wrapper .container-holder {
    display: flex;
}

.container {
    background: #ffffff;
    width: 550px;
    border-top: solid 3px #0073e2;
}

.container div {
    background: #f9f7f6;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 5px 20px;
}

.container div h3 {
    font-size: 17px;
    letter-spacing: 1px;
    margin-right: 12px;
    line-height: 26px;
    font-family: Yekan;
    margin: 9px 12px;
}

.container p {
    color: #777c84;
    font-size: 12px;
    padding: 10px 20px;
    padding: 0em 1.5em;
    line-height: 1.7;
}

.container:nth-child(1){
    width: 40%;
    margin: 0 0 0 15px;
}

.container:nth-child(2){
    width: 60%;
}

.container:nth-child(2) .title-holder {
    padding: 10px;
    justify-content: space-between;
}

.container:nth-child(2) .title-holder span {
    font-size: 12px;
    padding-left: 20px;
    font-family: Yekan;
}

.container:nth-child(2) nav ul {
    list-style: none;
    padding-left: 40px;
}

.container:nth-child(2) nav ul li {
    padding: 10px 0;
    border-bottom: solid .5px #e8e7e7;
}

.container:nth-child(2) nav ul li::before {
    content: '';
    transform: rotate(45deg);
    display: inline-block;
    width: 7px;
    height: 7px;
    background: #4fd5d9;
}

.container:nth-child(2) nav ul li a {
    color: #5e6974;
    text-decoration: none;
    font-size: 12px;
    transition: .4s;
}

.container:nth-child(2) nav ul li a:hover {
    color: chocolate;
    padding: 0 10px;
}

.info-nav {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 12px 0;
}

.info-nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    width: 100%;
    padding: 0;
}

.info-nav ul li {
    display: flex;
    flex-direction: column;
    font-size: 7px;
    width: 15%;
    align-items: center;
    justify-content: space-around;
    height: 30px;
    /* background: #0dbaa7; */
    padding: 10px;
    color: #fff;
    font-weight: 500;
    border-radius: 5px;
    margin: 0 10px;
}

.info-nav ul li span:nth-child(2){
    font-size: 13px;
    font-family: yekan;
}

.info-nav h3 {
    margin: 0;
    font-size: 16px;
    width: 9%;
    text-align: center;
    line-height: 25px;
    font-family: 'Yekan';
}

.info-nav ul li span span{
    font-size: 10px;
    margin: 0 3px;
}

.green {
    background: #0ebba8;
}

.blue {
    background: #367eb9;
}

.gray {
    background: #6c757d;
}

#line-chart-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
    background: white;
    padding-right: 35px;
    border-top: 3px #71e62e solid;
}

.chart-numbers {
    display: flex;
    width: 50%;
    justify-content: space-between;
}

.chart-numbers ul {
    padding: 0;
    list-style: none;
    margin: 0;
    font-size: 15px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.chart-numbers ul li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 15px 30px;
}

.chart-numbers ul li span:nth-child(1){
    border-bottom: solid purple;
    margin-bottom: 6px;
    padding-bottom: 6px;
}

#reports {
    background: white;
    margin: 10px 0;
    border-top: solid 3px #22e674;
    font-family: 'Yekan';
}

#reports nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #faf7f9;
    padding: 20px 0;
}

#reports nav h3 {
    margin: 0;
    font-weight: 500;
    font-size: 13px;
    margin-right: 25px;
}

#reports nav ul {
    display: flex;
    list-style: none;
    padding: 0;
}

#reports nav ul li {
    padding: 0 20px;
    border-left: solid 0.5px #80808099;
    font-weight: 500;
}

#reports nav ul li a {
    text-decoration: none;
    font-size: 13px;
    color: #848485;
}

#reports nav ul li .active {
    color : #000;
}

#reports nav ul li:last-child {
    border-left: none;
}

#reports section {
    padding: 12px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#reports section div {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: calc(100%/7);
    background: #d3d3d3;
    margin: 10px 0;
}

#reports section div img {
    width: 125px;
    height: 125px;
    margin: 20px 0 15px 0;
}

#reports section div span:nth-child(2){
    font-size: 14px;
    margin: 7px 0;
    font-weight: 500;
    color: rgba(3,43,78,255);
    padding: 0 5px;
}

#reports section div span:nth-child(3){
    font-size: 12px;
    font-weight: 400;
    color: rgba(79,80,81,255);
    padding: 0 5px;
}

#reports section div ul {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    font-family: IRANSans;
    list-style: none;
    margin: 10px 0 0 0;
    width: 100%;
    direction: ltr;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #d3eeb9;
    font-size: 12px;
    padding: 10px 0;
}

#reports section div ul li {
    color: rgba(3,43,78,255);
    font-weight: 500;
}

#reports section div ul li span {
    color: rgba(68,133,6,255);
}

#reports section div a {
    color: rgba(3,43,78,255);
    font-size: 12px;
    width: 100%;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #bceeb9;
    flex: 1;
}

#reports .section-icon {
    display: flex;
    align-items: center;
    margin-right: 28px;
    padding-bottom: 10px;
}

#reports .section-icon span {
    margin: 0 10px;
}

.bar-chart-title {
    font-size: 18px;
    font-family: 'Yekan';
}

.chart {
    margin: 10px 0 10px 40px;
}

.pie-charts {
    display: flex;
    background: white;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    border-top: solid 3px #22e6dc;
}

.pie-charts .pies-holder section{
    direction: ltr;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
} 

.pie-charts .pies-holder section h4 {
    margin: 20px 0 0 23px;
    font-family: 'verdana';
    letter-spacing: 1px;
}

.pie-charts .pies-holder section div {
    display: flex;
    align-items: center;
}

.pie-charts .pies-holder section div .pie-chart-info {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.pie-charts .pies-holder section div span:last-child {
    margin-top: 10px;
}

/* Responsivity */

@media screen and (max-width: 1204px) {
    #sidebar .title h1 {
        font-size: 13px;
        margin: 14px 0;
    }
    #sidebar div h2 {
        font-size : 28px
    }
    #sidebar nav ul li {
        font-size : 10px
    }
    #sidebar nav ul li img {
        width: 18px;
    }
    .info-nav h3 {
        width: 23%;
    }
    .info-nav ul li {
        margin: 10px 8px;
    }
    #line-chart-section {
        flex-direction: column-reverse;
    }
    #reports section div {
        width: 200px;
    }
    .pie-charts {
        flex-direction: column;
        justify-content: center;
        align-items: center
    }
    .chart-numbers {
        width: 100%;
    }
    .info-nav ul {
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 1024px) {
    #wrapper .container-holder {
        flex-direction: column-reverse;
    }
    .container:nth-child(1) {
        width: 100%;
        margin-bottom: 20px;
    }
    .container div h3 {
        font-size: 14px;
    }
    .container p {
        font-size: 11px;
    }
    .container:nth-child(2) {
        margin-bottom: 20px;
        width: 100%;
    }
    #sidebar .title h1 {
        margin: 16.5px 4px;
        font-size: 11px;
    }
    #sidebar div h2 {
        font-size: 22px;
    }
}

@media screen and (max-width: 794px) {
    #sidebar {
        display: none;
    }
    #reports nav ul {
        flex-wrap: wrap;
    }
    #reports nav ul li {
        margin-top: 10px;
    }
    #reports nav ul li:last-child {
        border-left: solid 0.5px #80808099;
    }
}

@media screen and (max-width: 525px) {
    .info-nav {
        flex-direction: column;
    }
    .chart-numbers ul {
        font-size: 11px;
    }
    #menu > div:nth-child(1) > div:nth-child(2) > h1 {
        display: none;
    }
    #menu .account-status {
        display: flex;
        padding: 17px 0;
    }
    #reports nav {
        flex-direction: column;
    }
    .container div {
        flex-direction: column;
        padding-top: 17px;
    }
    #wrapper > div.container-holder > div:nth-child(1) > div > h3 > br {
        display: none;
    }
    .container:nth-child(2) nav ul li a {
        font-size: 10px;
    }
    .info-nav ul li span:nth-child(2) {
        font-size: 10px;
    }
    #wrapper > div:nth-child(2) > nav > h3 > br {
        display: none;
    }
    .info-nav h3 {
        width: 100%;
        margin-top: 10px;
    }
    .pie-charts .pies-holder section h4 {
        font-size: 10px;
    }
    .pie-charts .pies-holder section div {
        flex-direction: column;
    }
    .pie-charts .pies-holder section div .pie-chart-info {
        align-items: center;
        justify-content: center;
    }
    .pie-charts .pies-holder section {
        text-align: center;
    }
}
.rotate {
    transform: rotate(90deg) !important;
    transition: .4s;
}
.accordion-options {
    height: 0;
    padding: 0;
    transition: .2s;
    font-size: 0;
    transition: .4s;
    border: none !important;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;

}
.accordion-options li {
    border: none !important;
    font-size: 0 !important;
    padding-right: 60px !important;
    box-shadow: none
}
.accordion-show {
    height: auto;
    padding: 10px 15px;
    color: black;
    font-size: 10px;
    transition: .4s;

}
.accordion-show li {
    font-size: 10px !important;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
    padding: 0 !important;
    border-left: solid 0.5px #e7e6e6 !important;
}
.accordion-show li a {
    width: 100%;
    padding: 10px 15px;
    padding-right: 60px;
    color: #367eb9 !important;
}
.accordion-show li:hover {
    background-color: #367eb9;
    transition: box-shadow 600ms cubic-bezier(.33,.11,.02,.99),
    transform  600ms cubic-bezier(.33,.11,.02,.99);
    box-shadow: 0 4px 4px rgb(0 0 0 / 10%), 0 1px 6px rgb(0 0 0 / 5%), 0 8px 8px rgb(0 0 0 / 10%), 0 16px 16px rgb(0 0 0 / 10%), 8px 32px 32px rgb(0 0 0 / 15%), 8px 64px 64px rgb(0 0 0 / 15%);
    transform: scale(1.005)
               translateY(-0.1rem);
    z-index: 999;
    
}
.accordion-show li:hover a{
    color: white !important;
}

.border-bottom-0 {
    border-bottom: 0 !important;
}